<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="node_modules/chart.js/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
</head>
<app-menu></app-menu>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a routerLink="" class="brand-logo right">Home</a>
                <a routerLink="/pessoas"> Pessoas </a>
                <a routerLink="/equipes"> Equipes </a>
                <a routerLink="/projetos"> Projetos </a>
                <a routerLink="/task"> Task's </a>
            </div>
        </nav>
    </header>


    <div class="geral">

        <div class="caixao">
            <div class="caixaum">


            </div>
            <div class="caixadois">


            </div>
        </div>

        <div class="caixaodois">
            <h1 class="font-weight-bold">Titulo qualques</h1>
            <div class="pessoas">
                <div class="pie animate no-round" style="--p:80;--c:#00c9d2;"> 80%</div>
            </div>
        </div>
        <div class="caixaotres">
            <div class="caixaum">


            </div>
            <div class="caixadois">


            </div>
        </div>
    </div>
    <div class="caixaoquatro">
        <div class="sobre">
        </div>
    </div>
</body>

</html>