<body>
    <section>
        <div class="dois">
            <div class="lucas">
                <div id="divBusca">
                    <input type="text" id="txtBusca" placeholder="Buscar..." />
                    <button id="btnBusca">Buscar</button>
                </div>
                <div class="btnAdd">
                    <button>Adione task</button>
                </div>
            </div>
        </div>
        <div class="conteiner">
            <div class="limitador">
                <div class="TaskCon">
                    <div class="back">
                        <div class="teste">
                            <div class="quadradoR"></div>
                            <div class="l">
                                <h3 class="yellow">Não iniciadas</h3>
                            </div>
                        </div>
                        <div class="task">
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="TaskCon">
                    <div class="back">
                        <div class="teste">
                            <div class="quadradoY"></div>
                            <div class="titulo">
                                <h3 class="yellow">Em andamento</h3>
                            </div>
                        </div>
                        <div class="task">
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="TaskCon">
                    <div class="back">
                        <div class="teste">
                            <div class="quadradoB"></div>
                            <div class="titulo">
                                <h3 class="yellow">Concluidas</h3>
                            </div>
                        </div>
                        <div class="task">
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                            <div class="borde">
                                <div>
                                    <h3>Back-End</h3>
                                    <p>26 julho</p>
                                </div>
                                <div>
                                    <mat-icon>border_color</mat-icon>
                                    <p>pessoa 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>